<!-- main.hbs-->

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="./css/hogwarts.css">
<head>
    <meta charset="utf-8">
    <title>Hogwarts App</title>
</head>
<nav class="navbar">
    <a href="/">Home</a> 
    <a href="/houses">Houses</a> 
    <a href="/students">Students</a> 
    <a href="/professors">Professors</a> 
    <a href="/subjects">Subjects</a> 
    <a href="/locations">Locations</a> 
    <a href="/classregistrations">Class Registrations</a> 
    <a href="/pets">Pets</a> 
</nav>
<body>

    {{{body}}}

</body>
<div class="footer">
   <h4>Created by Wanda Sowa and Aimee Wirick &copy 2022 </h4>
 </div>
</html>