<!-- 
    Created by Wanda Sowa and Aimee Wirick
    For OSU CS 340
    5/1/2022
    Credit to: 
    https://canvas.oregonstate.edu/courses/1870053/pages/exploration-web-application-technology?module_item_id=22036033 for tables and functions
    https://www.w3schools.com/howto/howto_css_example_website.asp for style sheet
    https://fonts.cdnfonts.com/css/harry-potter for font
    https://colors.dopely.top/inside-colors/colors-in-the-world-of-harry-potter-movies/ for colors
    https://www.pngwing.com/en/free-png-zpblz
    https://static.wikia.nocookie.net/warner-bros-entertainment/images/d/df/117843736.jpg/revision/latest?cb=20160227190718 for image
    And special credit to JK Rowling for content ideas, names and descriptions for our Data Base

 -->
<html>
  <div class="background3">
    <div class="main">
     <center>
     <h2>WELCOME TO HOGWART'S VIRTUAL DATABASE</h2>
     <div><img src="./img/pngwing.com (1).png" alt="static.wikia.nocookie.net" style="width:970px;height:827px;"></div>
     <p class="italics">Image borrowed from https://www.pngwing.com/en/free-png-zpblz</p>
     <h2>"A MAGICAL SERVICE FOR THE BUSY HEADMASTER"</h2>
 
     <p font-size ="Large">Navigate the tabs above to enter information about:  Student, Subjects, Houses, Professors, and Pets.
         Then instantaneously sort students (so much easier than a single hat!)
         When that pesky rat is loose in the castle our website easily tracks down which student it belongs to
         (detention is up to you). 
     </p> 
     <p>
         Happy Databasing!
     </p>
     </center>
    
   </div>
 </div>
 
</html>